<input type="hidden" value="{{report._id}}" name="reportId">

<!-- DESCRIPTION -->
<div class="form-group">
  <label for="comment-content">Add Comment</label><br>
  <textarea class="form-control"
  id="comment-content"
  name="content"
  rows="2"
  placeholder="Your comment..."/></textarea>
</div>

<!-- BUTTON -->
<div class="form-group">
 <button class="btn btn-primary" type="submit">Save Comment</button>
</div>
