<style>
.footer {
  background: url('http://getwallpapers.com/wallpaper/full/9/c/3/280903.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  border-color: darkgray;
  color: white;;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  height: 50px;
}

body {
}

</style>
</body>
<div style="margin-top: 92vh" class="footer">
<p align="center">Made with <i style="color: red" class="glyphicon glyphicon-heart"></i> by Mr. Joe<br>Copyright 2018</p>

</div>
