<div class="heroContent">
  <center>
    <h1 class="herotext">Coding For Kids</h1>
    <p class="herosub">One on one coding lessons with industry professionals</p>
    <button class="cta">Sign Up</button>
  </center>

  <div class="dots">
    <div id="dot1" class="dot"></div>
    <div id="dot2"class="dot"></div>
    <div id="dot3" class="dot"></div>
  </div><!--dots-->

</div><!--herocontent-->
