<div class="hero" style="z-index: 4">
 <!-- {{> herocontent}} -->
</div><!--hero-->



<div class="hero2" style="z-index: 3;">
  <!-- {{> herocontent}} -->
</div><!--hero2-->

<div class="hero3" style="z-index: 2;">
  <!-- {{> herocontent}} -->
</div><!--hero3-->
