<div class="heroContent">
    <h1 align="center" class="herotext">Coding For Kids</h1>
    <p align="center" class="herosub">One on one coding lessons with industry professionals</p>
    <center>
      <a href="/sign-up"><button class="cta">Sign Up</button></a>
      <br><br>
      Returning Users: <a class="login" style="color: white; text-decoration: underline;" href="/login">Login</a>

    </center>
  <center>
  <!-- <button id="fun" class="cta2">Fun!?</button> -->
  <div class="dots">
    <div id="dot1" class="dot"></div>
    <div id="dot2"class="dot"></div>
    <div id="dot3" class="dot"></div>
  </div><!--dots-->

  </center>
</div><!--herocontent-->
