<!-- views/partials/navbar.handlebars -->

<nav style="margin-bottom: 0px;" class="navbar navbar-default">
  <div  class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand sello" href="/">
        CodingForKids
      </a>
    </div>



    <div class="pull-right">
      <!--  <a class="btn btn-info navbar-btn" href="/logout">Logout <i class="glyphicon glyphicon-log-out"></i></a></li>-->
        <a class="btn btn-info navbar-btn" href="/login">Login <i class="glyphicon glyphicon-log-in"></i></a></li>
        <a class="btn btn-info navbar-btn" href="/sign-up">Sign Up <i class="glyphicon glyphicon-plus-sign"></i></a></li>
    </div>
    </div>
  </div>
</nav>
