<!-- views/partials/navbar.handlebars -->

<style>
/* CSS used here will be applied after bootstrap.css */

.glyphicon-nav {
  width: 18px;
  padding: 8px 0;
  position: relative;
  display: inline-block;
}
.glyphicon-nav:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  border-top: 2px solid red;
  border-bottom: 2px solid red;
  top: 0px;
}
.glyphicon-nav:after {
  content: '';
  position: absolute;
  top: 7px;
  left: 0px;
  height: 2px;
  width: 100%;
  background: Red;
}

#menudropper {
  margin-right: 15px;
}

.dropmenu {
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #2e86de;
  position: absolute;
  height: ;
  width: 100%;
  color: white;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.7);
}

.dropmenu a {
  color: white;
}

.navbar-default {
  background: url('https://image.freepik.com/free-photo/watercolor-paper-texture_1194-5416.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  border-color: darkgray;
}

.navbar-default .navbar-brand {
    color: #341f97;
}

.navbar-default .navbar-brand:hover {
    color: #2e86de;
}


</style>

<nav style="margin-bottom: 0px;" class="navbar navbar-default">
  <div  class="container-fluid">
    <!--<div class="navbar-header">-->
      {{#if currentUser}}
      <a class="navbar-brand sello" href="/dashboard">
        CodingForKids
      </a>

      {{else}}
      <a class="navbar-brand sello" href="/">
        CodingForKids
      </a>
      {{/if}}



    <!-- </div>-->
     <div class="pull-right">
     <button style="margin-top: 2px;" id="menudropper" type="button" class="btn btn-default btn-lg">
       <span class="glyphicon glyphicon-nav" aria-hidden="true"></span>
     </button>

    </div>



        </div>
    </div>
  </div>
</nav>

<div style="z-index: 1000" class="dropmenu">
{{#if currentUser}}
<a class="navbar-btn" href="/Dashboard">Dashboard <i class="glyphicon glyphicon-user"></i></a></li>
<a class="navbar-btn" href="/reports/{{currentUser.id}}">Reports <i class="glyphicon glyphicon-folder-open"></i></a></li>
<a class="navbar-btn" href="/session-tools">Help <i class="glyphicon glyphicon-question-sign"></i></a></li>
<a class="navbar-btn" href="/logout">Logout <i class="glyphicon glyphicon-log-out"></i></a></li>
{{else}}
<a class="navbar-btn" href="/login">Login <i class="glyphicon glyphicon-log-in"></i></a></li><br>
<a class="navbar-btn" href="/sign-up">Sign Up <i class="glyphicon glyphicon-plus-sign"></i></a></li>
{{/if}}
</div>
