<div id="web" class="model animated bounceInDown">
  <h1>Web Track</h1>
  <p>Learn the basics of fullstack Web Development. Create a blog, a personal portfolio, your own custom web-app, and several other projects.</p>
  <p><strong>Tools</strong>: Git, github</p>
  <p><strong>Frontend</strong>: HTML, CSS, Javascript, jQuery, jQuery UI, React, Bootstrap, Materialize</p>
  <p><strong>Backend</strong>: Node, Express, Mongo, Mongoose, RESTful API's, SocketIO</p>

  <button style="color: white;" id="cloze1" class="cloze">Close</button>
</div>

<div id="mobile" class="model animated bounceInDown">
  <h1>Mobile Track</h1>
  <p>Learn the basics of iOS Development and React Native. Create your own games, and several other projects.</p>
  <p><strong>Languages:</strong>: Swift</p>
  <p><strong>Backend Languages</strong>: Ruby, Ruby on rails</p>

  <button style="color: white;" id="cloze2" class="cloze">Close</button>
</div>

<div id="computerScience" class="model animated bounceInDown">
  <h1 align="center">Computer Science Track</h1>
  <p>Learn the basics of Computer Science. Understand the theory of software engineering and design, algorithmic thinking, and human-computer interaction.</p>
  <p><strong>Language:</strong> Python</p>

  <button style="color: white;" id="cloze3" class="cloze">Close</button>
</div>
