<!doctype html>
<html>
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-116144896-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-116144896-1');
  </script>

  <meta charset="utf-8">
  <link rel="manifest" href="/manifest.json">

  <title>CodingForKids</title>
  <link rel="apple-touch-icon" sizes="76x76" href="images/icons/icon-512x512.png">
  <link rel="icon" type="image/png" href="/images/icons/icon-512x512.png">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

  <link rel="stylesheet" href="/animate.css">

  <link rel="stylesheet" href="/styles.css">

  <script src='https://www.google.com/recaptcha/api.js'></script>

</head>
<body>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

  {{> navbar}}

    {{{body}}}

<div style="margin-top: 0px;">
</div>
  <script src="/touch.js"></script>
  <script src="/typed.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <script src="https://www.2b2t.reviews/dist/wow.min.js"></script>
      <script>
       new WOW().init();
     </script>

  <script src="/scripts.js"></script>
  <script src="/rootscripts.js"></script>

</body>


</html>
