<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>CodingForKids</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/styles.css">

  <script src='https://www.google.com/recaptcha/api.js'></script>

</head>
<body>
  {{> navbar}}

  <!--<div class="container">-->
    {{{body}}}
  <!--</div>-->

<div style="margin-top: 0px;">
{{> footer}}
</div>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="/typed.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <script src="https://www.2b2t.reviews/dist/wow.min.js"></script>
      <script>
       new WOW().init();
     </script>

  <script src="/scripts.js"></script>

</body>
</html>
