<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet" href="/dashboardstyle.css">
<body class="dashbkg">
{{#if currentUser.teacheracc}}
<h1 class="whiteout" align="center">Admin Area</h1>






{{else}}
<h1 class="whiteout" align="center">This is for teachers only.</h1>
{{/if}}



<div style="display: none;">
<h1 style="display: none;" align="center" id="typed" class="root1Text"></h1>
</div>
