<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet" href="/dashboardstyle.css">

<link rel="stylesheet" href="/adminstyle.css">
<link rel="stylesheet" href="http://www.joerezendes.com/projects/Woah.css/woah.css">

<body class="adminbkg">
{{#if currentUser.teacheracc}}
<h1 class="whiteout" align="center">Admin Area</h1>

<style> form {margin-top: 20px; color: white; /*background: rgba(255,255,255,.4)*/;}
      /*  h1 {color: black; background: rgba(255,255,255,.4)}*/
      input {color: black;}
</style>

<center>


<button class="callbtn session">Sessions</button>
  <div class="boxer sessionbox animated bounceInLeft">
    <h3>Sessions</h3>
    <form action="/admin/session" method="post">
      <label for="nextSessionName">Next Session</label><br>
      <input style="width: 300px;" name="nextSessionName" placeholder="Student Username">
      <input style="width: 300px;" name="nextSessionContent" placeholder="Next Session Date/Time">
      <br>
      <button class="btn-success" type="submit">Update</button>

    </form>

    <form action="/admin/hangout" method="post">
      <label for="hangout">Assign Hangout URL</label><br>
      <input style="width: 300px;" name="hangoutName" placeholder="Student Username">
      <input style="width: 300px;" name="hangoutContent" placeholder="Google Hangouts URL">
      <br>
      <button class="btn-success" type="submit">Update</button>
    </form>
    <button id="closesession" class="closeprompt">close</button>

  </div>

  <button class="callbtn teacher">Teacher</button>

  <div class="boxer teacherbox animated bounceInLeft">
    <h3>Teacher Tools</h3>
    <form action="/admin/teacher" method="post">
      <label for="teacherName">Add New Teacher</label><br>
      <input style="width: 300px;" name="teacherName" placeholder="Teacher's Username">
      <!--<input style="width: 300px;" name="hangoutContent" placeholder="Google Hangouts URL">-->
      <button class="btn-success" type="submit">Update</button>
    </form>


    <form action="/admin/changeteacher" method="post">
      <label for="changeTeacherUser">Change Teacher</label><br>
      <input style="width: 300px;" name="changeTeacherUser" placeholder="Student's Username">
      <input style="width: 300px;" name="changeTeacherTeacher" placeholder="Teacher's Userame"><br>
      <button class="btn-success" type="submit">Update</button>
    </form>
    <br>

    <button id="closeteacher" class="closeprompt">close</button>

  </div>

<button class="callbtn prompts">Prompts</button>

<div class="boxer promptbox animated bounceInLeft">
  <h3>Prompts</h3>
<!--Prompt github box model in dashboard -->
<form action="/dashboard/github" method="post">
  <label for="gitName">Prompt For Github</label><br>
  <input style="width: 300px;" name="gitName" placeholder="Student Username">
  <!--<input style="width: 300px;" name="hangoutContent" placeholder="Google Hangouts URL">-->
  <button class="btn-success" type="submit">Prompt</button>
</form>

<!--Prompt FCC box model in dashboard -->
<form action="/dashboard/freecodecamp" method="post">
  <label for="fccuser">Prompt For Free Code Camp</label><br>
  <input style="width: 300px;" name="fccuser" placeholder="Student Username">
  <!--<input style="width: 300px;" name="hangoutContent" placeholder="Google Hangouts URL">-->
  <button class="btn-success" type="submit">Prompt</button>
</form>
<button id="closepromptbox" class="closeprompt">close</button>

</div>



</center>
<center>
<button class="callbtn2 studentListBtn">Student List</button>
</center>
<div class="studentList">


</div>


{{else}}
<h1 class="whiteout" align="center">This is for teachers only.</h1>
{{/if}}



<div style="display: none;">
<h1 style="display: none;" align="center" id="typed" class="root1Text"></h1>
</div>

<div style="margin-bottom: -20%;"></div>
<script src="/admin.js"></script>
