<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet" href="/dashboardstyle.css">
<body style="background: linear-gradient(rgba(62, 20, 20, 0.4), rgba(62, 20, 20, 0.4)), url('https://vignette.wikia.nocookie.net/clubpenguin/images/4/4b/HQ_2008_2.png/revision/latest?cb=20150906175656'); background-position: center; background-size: contain; background-repeat: no-repeat; background-color: black;" class="dashbkg">
{{#if currentUser.teacheracc}}
<h1 class="whiteout" align="center">Admin Area</h1>

<style> form {margin-top: 20px; color: white; /*background: rgba(255,255,255,.4)*/;}
      /*  h1 {color: black; background: rgba(255,255,255,.4)}*/
      input {color: black;}
</style>

<center>
<form action="/admin/session" method="post">
  <label for="nextSessionName">Next Session</label><br>
  <input style="width: 300px;" name="nextSessionName" placeholder="Student Username">
  <input style="width: 300px;" name="nextSessionContent" placeholder="Next Session Date/Time">
  <button class="btn-success" type="submit">Update</button>
</form>

<form action="/admin/hangout" method="post">
  <label for="hangout">Assign Hangout URL</label><br>
  <input style="width: 300px;" name="hangoutName" placeholder="Student Username">
  <input style="width: 300px;" name="hangoutContent" placeholder="Google Hangouts URL">
  <button class="btn-success" type="submit">Update</button>
</form>

<form action="/admin/teacher" method="post">
  <label for="teacherName">Add New Teacher</label><br>
  <input style="width: 300px;" name="teacherName" placeholder="Teacher's Username">
  <!--<input style="width: 300px;" name="hangoutContent" placeholder="Google Hangouts URL">-->
  <button class="btn-success" type="submit">Update</button>
</form>

<!--Prompt github box model in dashboard -->
<form action="/dashboard/github" method="post">
  <label for="gitName">Prompt For Github</label><br>
  <input style="width: 300px;" name="gitName" placeholder="Student Username">
  <!--<input style="width: 300px;" name="hangoutContent" placeholder="Google Hangouts URL">-->
  <button class="btn-success" type="submit">Prompt</button>
</form>




</center>
{{else}}
<h1 class="whiteout" align="center">This is for teachers only.</h1>
{{/if}}



<div style="display: none;">
<h1 style="display: none;" align="center" id="typed" class="root1Text"></h1>
</div>
