{{#if currentUser.firstTime}}
<h1 class="whiteout" align="center">Welcome {{currentUser.username}}! Please visit <a href="/firstvisit">Profile Builder</a> Before Moving On!</h1>
{{else}}
{{/if}}
Welcome {{currentUser.username}}! Please visit <a href="/firstvisit">Profile Builder</a> Before Moving On!
<h1 style="display: none;" align="center" id="typed" class="root1Text"></h1>
