<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet" href="/dashboardstyle.css">
<body class="dashbkg">


{{> infoModelsDashboard}}


{{#if currentUser.student}}
{{#if currentUser.beginner}}

<h2 class="whiteout" align="center">Beginners Web Course</h2>

  {{> dashbuttons}}


{{else if currentUser.intermediate}}

<h2 class="whiteout" align="center">Intermediate Web Course</h2>

{{> dashbuttons}}

{{else if currentUser.advanced}}
<h2 class="whiteout" align="center">Advanced Web Course.</h2>

{{> dashbuttons}}


{{else}}

<h3 class="whiteout" align="center">You are not currently enrolled in a track.</h3>

{{/if}}
{{/if}}

{{#if currentUser.teacheracc}}
<h3 class="whiteout" align="center">Teachers Desk</h3>
<center>
<div class="trackBox" id="sortable2">
  <div class="square admin"><p align="center"><a href="/admin">Admin</p></a></div>
  <div class="square viewstudents"><p align="center"><a href="teacherview">View Students</p></a></div>
  <div class="square getHelp"><p align="center"><a target="_blank" href="admin/help/">Help Students</p></a></div>
  <div class="square shareScreen"><p align="center"><a target="_blank" href="https://chrome.google.com/webstore/detail/chrome-remote-desktop/gbchcmhmhahfdphkhkmpfmihenigjmpp?hl=en">Remote Desktop</p></a></div>
  <div class="square entersession"><p align="center"><a target="_blank" href="{{currentUser.session}}">Enter Session</p></a></div>
</div>
</center>
{{/if}}

{{#if currentStudent}}
{{/if}}



<div style="display: none;">
<h1 style="display: none;" align="center" id="typed" class="root1Text"></h1>
</div>
