<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet" href="/dashboardstyle.css">
<body class="dashbkg">


{{> infoModelsDashboard}}


{{#if currentUser.student}}
{{#if currentUser.beginner}}

<h2 class="whiteout" align="center">Beginners Web Course</h2>

  {{> dashbuttons}}


{{else if currentUser.intermediate}}

<h2 class="whiteout" align="center">Intermediate Web Course</h2>

{{> dashbuttons}}

{{else if currentUser.advanced}}
<h2 class="whiteout" align="center">Advanced Web Course.</h2>

{{> dashbuttons}}


{{else}}

<!-- <h3 class="whiteout" align="center">You are not currently enrolled in a track.</h3> -->

{{/if}}
{{/if}}

{{#if currentUser.teacheracc}}
<h3 class="whiteout" align="center">Teachers Desk</h3>
<center>
<div class="trackBox" id="sortable2">
  <a class="dblink" href="/admin"><div class="square admin"><p align="center">Admin</p></div></a>
  <a class="dblink" href="teacherview"><div class="square viewstudents"><p align="center">View Students</p></div></a>
  <a class="dblink" target="_blank" href="admin/help/"><div class="square getHelp"><p align="center">Help Students</p></div></a>
  <a class="dblink" target="_blank" href="https://chrome.google.com/webstore/detail/chrome-remote-desktop/gbchcmhmhahfdphkhkmpfmihenigjmpp?hl=en"><div class="square shareScreen"><p align="center">Remote Desktop</p></div></a>
  <a class="dblink" target="_blank" href="{{currentUser.session}}"><div class="square entersession"><p align="center">Enter Session</p></div></a>
</div>
</center>
{{/if}}

{{#if currentStudent}}
{{/if}}



<div style="display: none;">
<h1 style="display: none;" align="center" id="typed" class="root1Text"></h1>
</div>
