<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet" href="/dashboardstyle.css">
<link rel="stylesheet" href="/styles/tools.css">

<body style="background: #f39c12;">

<div class="inputbox">
<form method="POST" action="/github/post">
  <input type="text" name="github" placeholder="github username">
  <input type="submit" class="btn btn-danger" value="Submit">
</form>
</div>

  <div style="background: rgba(0,0,0,.0)" class="container">
    <h1 align="center">Hey {{currentUser.username}}, </h1>





<div style="display: none;">
<h1 style="display: none;" align="center" id="typed" class="root1Text"></h1>
</div>
