<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet" href="/dashboardstyle.css">
<body style="" class="dashbkg">
<h1 class="whiteout" align="center">Get Help</h1>

<hr>
<div class="container">
  <center><button class="btn btn-info newReport">New Help Request</button></center>

  <div class="reportPanel">
  <div class="container">
    {{> help-form}}
    <hr>

  </div>
</div><!--reportPanel-->
</div>





<div style="display: none;">
<h1 style="display: none;" align="center" id="typed" class="root1Text"></h1>
</div>
