<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


<body class="loginbkg">

<div class="container">
<div class="row">
  <div class="col-sm-4 col-sm-offset-4">
    <form style="margin-top: 30px;" action="/login" method="post">
      <legend class="whiteout">Returning Users - Login</legend>
      <div class="form-group">
        <label class="whiteout" for="post-title">Username</label>
        <input type="text" name="username" class="form-control" id="username" placeholder="Username">
      </div>
      <div class="form-group">
        <label class="whiteout" for="post-subreddit">Password</label>
        <input name="password" type="password" class="form-control" id="password" placeholder="password">
      </div>
      <div class='text-right'>
        <button type="submit" class="btn btn-primary">Login!</button>
      </div>
    </form>
  </div>
</div>
</div>



<h1 style="display: none;" align="center" id="typed" class="root1Text"></h1>
