<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


<body class="loginbkg">

<div class="container">
  <form id="login-box" method="POST" action="/login">
          <div class="top-lab">Login</div>


          <input class="field" placeholder="Username" name="username" type="text">
          <input class="field" placeholder="Password" name="password" type="password">

          <input class="lgn-btn" value="Login" type="submit">

          <div class="bot-links">
              <a>Forgot Password</a> - <a href="/sign-up">Sign up</a>
          </div>
      </form>
    </div>


<div style="display: none;">
<h1 style="display: none;" align="center" id="typed" class="root1Text"></h1>
</div>
