<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet" href="/dashboardstyle.css">
<body class="dashbkg">
<h1 class="whiteout" align="center">{{currentUser.username}}'s Reports</h1>

{{#if currentUser.teacheracc}}
<hr>
<div class="container">
  <div class="container">
    {{> report-form}}
    <hr>

  </div>
</div>
{{/if}}

<div style="margin-top: 50px;"></div>

{{#each reports}}

    <div id="instructions" class="paper">
      {{this.date}} <br><br>
      {{this.title}} <br><br>
      {{this.content}} <br><br>
    </div>​



{{/each}}



<div style="display: none;">
<h1 style="display: none;" align="center" id="typed" class="root1Text"></h1>
</div>
