<div class="rootSec1">


<div class="typingbox">
<h1 align="center" id="typed" class="root1Text"></h1>
</div>
</div><!--rootSec1-->

<div class="rootSec2">
  <div class="root2box">
<h1 class="sec2text"><b>Welcome Back</b></h1>
<a class="sec2text btn btn-primary">Login</a>
  </div>
</div>
