<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<body>
  <link rel="stylesheet" href="/landingstyle.css">
  <link rel="stylesheet" href="http://www.joerezendes.com/projects/Woah.css/woah.css">
<header>

  {{> hero}}
  {{> herocontent}}
</header>


<div class="section2">
  <center>
    <p align="center" class="sec2Text">Learning how to code can be needlessly complicated, especially because it isn't taught in public schools.
       CodingForKids helps students learn how to code by giving them private lessons.
    </p>
  </center>

  <div class="sec2Benefits">
    <div class="benefit">
      <i class="glyphicon glyphicon-calendar"></i>

      <h3>Fits your schedule</h3>
      <p>You decide when to schedule tutoring sessions, and you can reschedule sessions at your leisure.</p>
    </div>
    <div class="benefit">
      <i class="glyphicon glyphicon-flash"></i>
      <h3>Fast and easy</h3>
      <p>Creating an account takes only minutes, and the setup process is clearly defined.</p>
    </div>

    <div class="benefit">
      <i class="glyphicon glyphicon-log-out"></i>
      <h3 align="left">Cancel Anytime</h3>
      <p>If you decide CodingForKids isn't for you - no problem. No commitment. Cancel online anytime.</p>
    </div>
  </div>
    <div class="buttoncta">
    <button id="cta2" class="cta">Sign Up</button>
    </div>
</div>



<div style="display: none;">
<h1 style="display: none;" align="center" id="typed" class="root1Text"></h1>
</div>
