<script src="/rootscripts.js"></script>

<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<body>
  <link rel="stylesheet" href="/landingstyle.css">
  <div class="moveDown">
<header>

  {{> hero}}
  {{> herocontent}}
</header>


<div class="section2">
  <div class="sec2con">
  <center>
    <p align="center" class="sec2Text">Learning how to code can be needlessly complicated, especially because it isn't taught in public schools.
       CodingForKids makes learning how to code feel easy by providing private lessons.
    </p>
  </center>

  <div class="sec2Benefits">
    <div class="benefit">
      <i class="glyphicon glyphicon-calendar"></i>

      <h3>Fits your schedule</h3>
      <p>You decide when to schedule tutoring sessions, and you can reschedule sessions at your leisure.</p>
    </div>
    <div class="benefit">
      <i class="glyphicon glyphicon-flash"></i>
      <h3>Fast and easy</h3>
      <p>Creating an account takes only minutes. Installing all of the tools is simple to do.</p>
    </div>

    <div class="benefit">
      <i class="glyphicon glyphicon-log-out"></i>
      <h3 align="left">Cancel Anytime</h3>
      <p>If you decide CodingForKids isn't for you - no problem. No commitment. Cancel online anytime.</p>
    </div>
  </div>
    <div class="buttoncta">
    <a href="/sign-up"><button style="color: white;" id="cta2" class="cta">Sign Up</button></a>
    </div>
    <p style="color: white; margin-top: 10px;" class="sec3sub">Sessions are $30 for 60 minutes or $20 for 30 minutes.</p>

  </div>
</div>

<div class="sec3">
  <h1 class="sec3title">Get live 1 to 1 code tutoring in languages that matter</h1>
  <p class="sec3sub">Choose from 3 different tracks</p>
  <div class="trackCont">
    <div id="track1" class="track">
      <h2>Web</h2>
      <center>
        <img height="80" width="80" src="https://i.pinimg.com/originals/1e/00/78/1e0078f8266738d005b5fc7d00f9a66e.png" />
        <p class="cardtext">Learn how to create original websites and web apps!</p>
      </center>
      <p class="action">Learn More</p>
    </div>

    <div id="track2" class="track">
      <h2>Mobile</h2> 
      <center>
        <img height="80" width="80" src="https://www.aalogics.com/sites/default/files/icon-ux-ui.png" />
        <p class="cardtext">Learn how to create mobile games and apps!</p>
      </center>

      <p class="action">Learn More</p>
    </div>
    <div id="track3" class="track">
      <h2>Computer Science</h2>
      <center>
        <img height="80" width="80" src="https://expandedschools.org/sites/default/files/Computers-Communication-Devices.png" />
        <p class="cardtext">Learn the fundamentals that all software is based on!</p>
      </center>

      <p class="action">Learn More</p>
    </div>
  </div>
  <br><br>
  <p class="sec3sub">Start off with Web Development, then move on to Mobile or Computer Science.</p>

  <center>
    <a href="/sign-up"><button style="color: white;" id="cta2" class="cta">Sign Up</button></a>
  </center>


  {{> trackModels}}



</div>


<div class="sec4">
  <div class="sec4img"></div>

  <div class="sec4content">
    <div class="sec4copy">
      <h2>Learn Anywhere, Take Anywhere</h2>
      <p style="font-size: 2rem;">Our intuitive Dashboard works on all devices</p>
      <p>Keep track of reports and assignments on the go! If you ever get stuck on something you can ask for help right in the dashboard!</p>
      <br><br>
      <a href="sign-up"><button style="color: white;" id="cta2" class="cta">Get Started</button></a>
    </div>
  </div>

</div>

<div class="sec5">
  {{> mailchimp}}
  <h2 align="center" style="color: white;">One of our tutors will contact you within 24 hours</h2>
</div>

<div style="display: none;">
<h1 style="display: none;" align="center" id="typed" class="root1Text"></h1>
</div>

</div><!--movedown-->
