<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<body style="background: white;">
  <link rel="stylesheet" href="/landingstyle.css">

<header>

  {{> hero}}
  {{> herocontent}}
</header>


<div class="section2">

</div>


<div style="display: none;">
<h1 style="display: none;" align="center" id="typed" class="root1Text"></h1>
</div>
