<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<body style="background: white;">
  <link rel="stylesheet" href="/landingstyle.css">
  <link rel="stylesheet" href="http://www.joerezendes.com/projects/Woah.css/woah.css">
<header>

  {{> hero}}
  {{> herocontent}}
</header>


<div class="section2">
  <center>
  <p align="center" class="sec2Text">Learning how to code can be needlessly complicated, especially because it isn't taught in public schools.
     CodingForKids helps students learn how to code and to secure their financial futures.
  </p>
  </center>
</div>


<div style="display: none;">
<h1 style="display: none;" align="center" id="typed" class="root1Text"></h1>
</div>
