<div class="rootSec1">


<div class="typingbox">
<h1 align="center" id="typed" class="root1Text"></h1>
</div>
</div><!--rootSec1-->

<div class="rootSec2">
<h1 class="sec2text">Welcome Back</h1>
<button class="sec2text btn btn-primary">Login</button>
</div>
