
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<body class="loginbkg">


<form id="login-box" method="POST" action="/sign-up">
        <div class="top-lab">Register</div>


        <input class="field" maxlength="16" placeholder="Username" name="username" type="text">
        <input class="field" placeholder="Password" name="password" type="password">
        <input class="field" placeholder="Repeat Password" name="password2" type="password">

        <div class="g-recaptcha" data-sitekey="6LciD0EUAAAAAMSM4b2xRawGOzSD0ke7mlaY-ZpQ"></div>

        <input class="lgn-btn" value="Register" type="submit">

        <div class="bot-links">
            <a href="/login">Login</a>
        </div>
    </form>

    <div style="display: none;">
    <h1 style="display: none;" align="center" id="typed" class="root1Text"></h1>
    </div>


<script src="/typedindex.js"></script>
<script>

</script>
