<link rel="stylesheet" href="/landingstyle.css">
<link rel="stylesheet" href="http://www.joerezendes.com/projects/Woah.css/woah.css">
<body style="
  background: linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.4)), url('http://newsflash.iusd.org/wp-content/uploads/2016/04/Kids-on-Computer.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 120vh;
  width: 100%;
"
>
<div style="display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
">
{{> mailchimp}}
<p align="center" style="color: white;">One of our tutors will contact you within 24 hours</p>

</div>
