<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet" href="/dashboardstyle.css">
<body class="dashbkg">
{{#if currentUser.teacheracc}}
<h1 class="whiteout" align="center">CodingForKids Student Board</h1>


{{#each users}}
<div style="margin-top: 10px; margin-bottom: 10px;" id="instructions" class="paper">

<p style="margin-top: -20px;">{{this.firstname}} {{this.lastname}}<br><br><a href="/users/{{this.username}}">View Profile</a></p>
</div>



{{/each}}
<div style="margin-bottom: 30px;"></div>

{{else}}
<h1 class="whiteout" align="center">This is for teachers only.</h1>
{{/if}}



<div style="display: none;">
<h1 style="display: none;" align="center" id="typed" class="root1Text"></h1>
</div>
