<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet" href="/dashboardstyle.css">
{{#if currentUser.teacheracc}}

<body style="" class="loungebkg">

<h1 class="whiteout" align="center">Teachers Lounge</h1>

<h3 class="whiteout" align="center">Coming Soon</h3>


{{else}}
<body style="" class="dashbkg">

<h1 align="center">You must be a teacher to enter the Teachers Lounge.</h1>
{{/if}}



<div style="display: none;">
<h1 style="display: none;" align="center" id="typed" class="root1Text"></h1>
</div>
