
.callbtn {
  border-radius: 4px;
  background: rgba(0,0,0,.5);
  color: white;
  border: solid 1px white;
  transition: all 200ms;
  margin-right: 0px;
  margin-left: 0px;
}

.callbtn:hover {
  background: rgba(0,0,0,.9);
  transform: scale(1.1);
  margin-right: 15px;
  margin-left: 15px;
  box-shadow: 0, 5px 7px rgba(0,0,0,.3);
}

.callbtn2 {
  position: absolute;
  top: 60rem; left: 0; right: 0; bottom: 0;
  margin: auto;
  border-radius: 4px;
  background: rgba(0,0,0,.5);
  color: white;
  border: solid 1px white;
  transition: all 200ms;
  height: 3rem;
  width: 10rem;
  align-items: center;
  text-align: center;
}

.callbtn2:hover {
  background: rgba(0,0,0,.9);
  transform: scale(1.1);
  box-shadow: 0, 5px 7px rgba(0,0,0,.3);
}



.boxer {
  display: none;
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  margin: auto;
  height: 45rem;
  width: 40rem;
  background: rgba(0,0,0,.5);
  border: solid 1px white;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  border-radius: 20px;
  z-index: 2;
  box-shadow: 0 5px 7px rgba(0,0,0,.3);
}


.closeprompt {
  width: 20%;
  border-radius: 8px;
  background: transparent;
  border: solid 1px white;
  color: white;
  text-align: center;
  align-items: center;
  transition: all 200ms;
}

.closeprompt:hover {
  background: rgba(0,0,0,.4);
  transform: scale(1.2);
  margin-top: 10px;
}

.btn-success {
  border-radius: 4px;
  margin-bottom: 5px;
}

h3 {
  color: white;
}

input {
  border-radius: 4px;
  width: 10rem;
  margin-bottom: 10px;
}

.studentList {
  display: flex;
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  margin: auto;
  margin-right: 10rem;
  height: 45rem;
  width: 25rem;
  background: rgba(0,0,0,.5);
  border: solid 1px white;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  border-radius: 20px;
  box-shadow: 0 5px 7px rgba(0,0,0,.3);
  z-index: 2;
}

.students {
  height: 30rem;
  width: 100%;
  overflow: scroll;
}

h4 {
  margin-top: 0px;
}

/* No greater than 900px, no less than 300px */
@media (max-width:900px) and (min-width:300px) {

.boxer {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 5px;
  background: rgba(44, 62, 80,.9);
  height: 30rem;
  overflow: scroll;
  justify-content: flex-start;
}

.closeprompt {
  width: 20%;
  background: transparent;
  border: none;
  font-size: 2rem;
  margin: 5px;
}

.closeprompt:hover {
  transform: none;
  background: transparent;
  margin-top: 5px;
}

.studentList {
  background: rgba(44, 62, 80,.9);
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 40rem;
  height: 25rem;
}

.students {
  height: 10rem;
  width: 100%;
  overflow: scroll;
}

.adminbkg {
  min-height: 100vh;
  background: rgba(44, 62, 80,1.0);
}

}
