.dashbkg {
  background: rgba(41, 128, 185,1.0);
}

.modelbox {
  position: absolute;
  margin: auto;
  top: 0; left: 0; bottom: 0; right: 0;
  background: #3498db;
  border-radius: 4px;
  height: 300px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.4);

}

.modelbox h1 {
  color: #2c3e50;
}

.modelbox h2 {
  color: #2c3e50;
}

.trackBox {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}



.square {
  height: 250px;
  width: 250px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  /*background-color: orange;*/
  font-size: 130%;
  margin-top: 10px;
  align-items: ;
  border-radius: 4px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3);
}

.Schedule {
  background-image: url('https://image.ibb.co/iV688x/calender.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.viewreports {
  background-image: url('https://image.ibb.co/bRPpFc/Untitled_design.jpg');
  background-repeat: no-repeat;
  background-size: contain;

}
.entersession {
  background-image: url('http://moziru.com/images/codeyy-clipart-tutor-2.jpg');
  background-repeat: no-repeat;
  background-size: contain;
}



.square p {margin-top: 3px;}

.hoverShow {
  height: 100%;
  width: 100%;
  background: rgba(52, 152, 219,.7);
  display: none;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 150%;
  color: white;
  border-radius: 4px;
}
