body {
  background-color: black;
}

.rootSec1 {
  background: url('https://media2.giphy.com/media/3o7buijTqhjxjbEqjK/giphy.gif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 62;
}

.root1Text {
  color: white;
  margin-bottom: 500px;
  font-size: 600%;
}

.typingbox {
  font-size: 200%;
}

.typed-cursor {
  color: black;
}

.rootSec2 {
  display: none;
  position: absolute;
  background: url('http://www.verizon.com/about/sites/default/files/news-media/141203_Teen_Student_on_Tablet_640x400.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  top: 50px;
  left: 0px;
  height: 100vh;
  width: 100%;
  z-index: 61;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.root2box {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sec2text {
  display: none;
  font-size: 600%;
  margin-bottom: 300px;
  -webkit-text-stroke: white;

}

button sec2text {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.rootSec3 {
  display: none;
  position: absolute;
  background: url('http://s3.amazonaws.com/pbblogassets/uploads/2014/01/32bit-Sparks.gif');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  top: 50px;
  left: 0px;
  height: 100vh;
  width: 100%;
  z-index: 61;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sec3text {
  display: none;
  font-size: 600%;
  margin-bottom: 300px;
  -webkit-text-stroke: white;
  color: white;
}

.signUpForm {
  position: absolute;
  top: 400px;
  left: 350px;
  display: none;
  color: white;
}

form {
  transform: scale(2);
}

.whiteout {
  color: white;
}

.accountbtn {
  margin-top: 400px;
  transform: scale(2);
  margin-left: 40px;
}

.logInForm {
  position: absolute;
  top: 400px;
  left: 350px;
  display: none;
  color: white;
}
