body {
  background-color: black;
}

.loginbkg {
  background-image: linear-gradient(rgba(62, 20, 20, 0.3), rgba(62, 20, 20, 0.3)), url('https://www.verizon.com/about/sites/default/files/news-media/141203_Teen_Student_on_Tablet_640x400.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

.rootSec1 {
  background: url('https://media2.giphy.com/media/3o7buijTqhjxjbEqjK/giphy.gif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 62;
  right: 50px;
}

.root1Text {
  color: white;
  margin-bottom: 100px;
  font-size: 400%;
}

.typingbox {
  font-size: 100%;
}

.typed-cursor {
  color: black;
}


.skip {
  position: absolute;
  top: 80%; left: auto;
}

.rootSec2 {
  display: none;
  position: absolute;
  background: url('https://www.verizon.com/about/sites/default/files/news-media/141203_Teen_Student_on_Tablet_640x400.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  top: 50px;
  left: 0px;
  height: 100vh;
  width: 100%;
  z-index: 61;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.root2box {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sec2text {
  display: none;
  font-size: 400%;
  margin-bottom: 100px;
  -webkit-text-stroke: white;

}

button sec2text {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.rootSec3 {
  display: none;
  position: absolute;
  background: url('https://s3.amazonaws.com/pbblogassets/uploads/2014/01/32bit-Sparks.gif');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  top: 50px;
  left: 0px;
  height: 100vh;
  width: 100%;
  z-index: 61;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sec3text {
  display: none;
  font-size: 400%;
  margin-bottom: 100px;
  -webkit-text-stroke: white;
  color: white;
}

.signUpForm {
  position: absolute;
  top: 50px;
  left: 0;
  display: none;
  color: white;
  width: 100%;
}

.forms {
  transform: scale(1);
}

.whiteout {
  color: white;
}

.accountbtn {
  margin-top: 100px;
  transform: scale(1);
  margin-left: 0px;
}

.logInForm {
  position: absolute;
  top: 50px;
  left: 0px;
  display: none;
  color: white;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.accountbtn2 {
  margin-top: 100px;
  transform: scale(1);
  margin-left: 0px;
}

.whhh {
  display: none;
}
