

.remote-desktop {
  margin-top: 50px;
  margin-bottom: 200px;

}

.remote-desktop p {
  margin-top: 10px;
  margin-left: 220px;
}


.google-hangouts {
  margin-bottom: 200px;
}

.google-hangouts p {
  margin-top: 10px;
  margin-left: 220px;
}



.atom {
  margin-bottom: 150px;
}

.atom p {
  margin-top: 10px;
  margin-left: 220px;
}

.conclusion {

}

.parabox {
  padding-top: 15px;
}

.parabox2 {
  padding-top: 30px;
}
